

<section>

<div class="wrapper">
    <div class="top_navbar">
        <nav>
            {{#if loggedIn}}
            <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}       
        </nav>       
     </div>

    <div class="sidebar">
        {{!-- profile image and text --}}
        <!--menu items-->
         <div class="home">
                <img src="">
                <h3>Home</h3>
                
                <a href="#" class="active"></a>
                   <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Home</span>
                        <button id="home-btn" class="btn-no-style">Logout</button>
                        <a href="/homepage">Home</a>
<ul>
                {{!-- <li>
                    <a href="#" class="active">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Home</span>
                    </a>
                </li> --}}
        
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">People</span>
                        
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                        <span class="item">Finish Selection</span>
                    </a>
                </li>
                  <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">My Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-chart-line"></i></span>
                        <span class="item">Tips for Safety</span>
                    </a>
                </li>

            </ul>
        </div>
        </div>
    </div>
    </div>

    <h2>Choose which type of Calisthenics you'd like to use</h2>

    <article class="calisthenics">
        <div class="title">
            <label for="calisthenics-title">Calisthenics Options</label>
        </div>
        <div>

            <ol class="calisthenics-choices">

                <li>
                    option1test
                    <button>Add</button>
                </li>
                <li>
                    option2test
                    <button>Add</button>
                </li>
                <li>
                    option3test
                    <button>Add</button>
                </li>
                <li>
                    option4test
                    <button>Add</button>
                </li>
                <li>
                    option5test
                    <button>Add</button>
                </li>
            
            </ol>
        </div>
    </article>

<br>

 <h2>Choose which type of Plyometrics you'd like to use</h2>

    <article class="plyometrics">
        <div class="title">
            <label for="plyometrics-title">Calisthenics Options</label>
        </div>
        <div>

            <ol class="plyometrics-choices">

                <li>
                    option1test
                    <button>Add</button>
                </li>
                <li>
                    option2test
                    <button>Add</button>
                </li>
                <li>
                    option3test
                    <button>Add</button>
                </li>
                <li>
                    option4test
                    <button>Add</button>
                </li>
                <li>
                    option5test
                    <button>Add</button>
                </li>
            
            </ol>
        </div>
    </article>

<br>


 <h2>Choose which type of Isometrics you'd like to use</h2>

    <article class="isometrics">
        <div class="title">
            <label for="isometrics-title">Calisthenics Options</label>
        </div>
        <div>

            <ol class="isomentrics-choices">

                <li>
                    option1test
                    <button>Add</button>
                </li>
                <li>
                    option2test
                    <button>Add</button>
                </li>
                <li>
                    option3test
                    <button>Add</button>
                </li>
                <li>
                    option4test
                    <button>Add</button>
                </li>
                <li>
                    option5test
                    <button>Add</button>
                </li>
            
            </ol>
        </div>
    </article>

</section>