<i class="material-icons">face</i>
<div class="cd-part cd-cart--empty js-cd-cart">
    <a href="#0" class="cd-cart__trigger text-replace">Total
        {{!-- cart item count --}}
        <ul class="cd-cart__count">
            <li>0</li>
            <li>0</li>
            {{!-- cart count --}}
        </ul>   
    </a>

    <div class="cd-cart__content">
        <div class="cd-cart__layout">
            <header class="cd-car__header">
                <span class="cd-cart__undo">Exercise removed <a href="#0">Undo</a></span>
            </header>

            <div class="cd-cart__body">
                <ul>
                    {{!-- exercises will be added here --}}            
                </ul>
            </div>
            <footer class="cd-cart__footer">
                <a href="#0" class="cd-cart__checkout">
                    <em>Total Exercises - <span>0</span>
                    <svg class="material-icons md-18">add_task</svg>
                    </em>
                <span class="material-symbols-outlined">add_task</span>
                </a>

            </footer>
        
        </div>
    </div>
</div>