<div class="cd-part cd-cart--empty js-cd-cart">
    <a href="#0" class="cd-cart__trigger text-replace">Total
        {{!-- cart item count --}}
        <ul class="cd-cart__count">
            <li>0</li>
            <li>0</li>
            {{!-- cart count --}}
        </ul>   
    </a>

    <div class="cd-cart__content">
        <div class="cd-cart__layout">
            <header class="cd-car__header">
                <span class="cd-cart__undo">Exercise removed <a href="#0">Undo</a></span>
            </header>

            <div class="cd-cart__body">
                <ul>
                    {{!-- exercises will be added here --}}            
                </ul>
            </div>
            <footer class="cd-cart__footer">
                <a href="#0" class="cd-cart__checkout">
                    <em>Total Exercises - <span>0</span>
                    <svg class="material-icons md-18">add_task</svg>
                    </em>
                </a>
            </footer>        
        </div>
    </div>    <!--cart content-->
</div>          <!--cart-->

<div class="cd-cart__body">
    <ul>
        <li class="cd-cart__exercise">
            <div class="cd-cart__image">
                <a href="#0">
                {{!-- placeholder img --}}
               <img src="" alt="placeholder">
               </a>
            </div>

            <div class="cd-cart__details">
                <h3 class="prune"><a href="#0">Product Name</a></h3>

                {{!-- <span class="cd-cart__price"></span> --}}
                <div class="cd-cart__quantity">
                    <label for="cd-exercise-exerciseName">Total: </label>

                    <span class="cd-cart__choose">
                        <choose class="reset" id="cd-exercise-exerciseName" name="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </choose>

                        <svg class="icon"</svg> <!--placeholder-->
                    </span>
                </div>
            </div>
        </li>

        <!-- other items added to total-->
    </ul>
</div>