<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/workout-list.css" />
  <link rel="stylesheet" href="/stylesheets/chosen-exercise.css" />
  <link rel="stylesheet" href="/stylesheets/login-page.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/homepage.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>Fit-Wit</title>

</head>

<body>
  <div class="homepage">
    <a name="top"></a>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Fit-Wit</a>
        </h1>
        <nav>
          <ul>
            <li>
              <a href="/full-workout-list">Start Workout</a>
            </li>
            <li>
              {{#if loggedIn}}
              <button id="logout" class="logoutBTN">logout</button>
              {{else}}
              <a href="/login">Sign Up / Login</a>
              {{/if}}
            </li>
          </ul>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>