<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    <title>Document</title>
</head>

<body>   
    
           
        <header>
            <nav>  
                <span>
                    <a href="#">
                        <button type="submit" class="login"> <span class="material-icons">login</span></button></a>
                   
                    <a href="#">
                        <button type="submit" class="sign_up"> <span class="material-icons">loyalty</span></button></a>
          
            </nav>
        </header>
        
     
        <div class="container">
             <nav>
                 <div class="sidebar">
                    <div class="home">
                        <a href="#">
                        <span class="material-icons">cottage</span>
                        <a href="/home"></a>
                    </div>
        
                    <div class="profile">
                            <a href="#">
                            <img class="profile-pic" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png"></a>
                                 <h1>Username</h1>
                            <a href="/user-profile"></a>
                    </div>
                    
                    <ul>              
                        <li>
                            <a href="#">
                                <span class="material-icons">numbers</span>
                                <a href="/user-dashboard">Number of Exercises</a>       
                          
                        </li>
                        <li>
                            <a href="#">
                                <span class="material-icons">task_alt</span>
                                <a href="/user-dashboard">Finish Up</a>       
                          
                        </li>
                          <li>
                            <a href="#">
                                <span class="material-icons">person_pin_circle</span>
                               <a href="/user-dashboard">Go to Dashboard</a>  
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="material-icons">tips_and_updates</span>
                               <a href="/safety">Tips for Safety</a>  
                            </a>
                        </li>
        
                    </ul>
        </nav>

<br> 

    <section class="exercise-container">
        <div class="heading-texts">
            <h2>Powerlifting description and stuff</h2>

    <article class="exercise-section">
        <div class="title">
            <label for="section--title">Choose from powerlifting exercises below</label>
        </div>
    </div>

        <div class="exercise-display-box"></div>
            <div class="exercise-choice-container">
             <ol class="exercise-choices">

                <li>
                    
                    ExerciseNamePlaceholder                   
                    <a href="#">
                        <button type="button" class="exercise-option1"><span class="material-icons md-38">add_task</span></button></a>                   
                </li>
                <li>
                    ExerciseNamePlaceholder                
                    <a href="#">
                        <button type="button" class="exercise-option2"> <span class="material-icons">add_task</span></button></a>
                </li>
                <li>
                    ExerciseNamePlaceholder                   
                    <a href="#">
                        <button type="button" class="exercise-option3"> <span class="material-icons">add_task</span></button></a>
                </li>
                <li>
                    ExerciseNamePlaceholder
                    <button type="button" class="exercise-option4"> <span class="material-icons">add_task</span></button></a>
                </li>
                <li>
                    ExerciseNamePlaceholder
                    <a href="#">
                        <button type="button" class="exercise-option5"> <span class="material-icons">add_task</span></button></a>
                </li>
            
            </ol>
        </div>
    </div>

    </article>
</section>

<br>

<section class="exercise-container">
    <div class="heading-texts">
        <h2>Bodybuilding description and stuff</h2>

<article class="exercise-section">
    <div class="title">
        <label for="section-title">Choose from bodybuilding exercises below</label>
    </div>
</div>

    <div class="exercise-display-box"></div>
        <div class="exercise-choice-container">
            <ol class="exercise-choices">

                <li>
                    
                    ExerciseNamePlaceholder                   
                    <a href="#">
                        <button type="button" class="exercise-option1"><span class="material-icons md-38">add_task</span></button></a>                   
                </li>
                <li>
                    ExerciseNamePlaceholder                
                    <a href="#">
                        <button type="button" class="exercise-option2"> <span class="material-icons">add_task</span></button></a>
                </li>
                <li>
                    ExerciseNamePlaceholder                   
                    <a href="#">
                        <button type="button" class="exercise-option3"> <span class="material-icons">add_task</span></button></a>
                </li>
                <li>
                    ExerciseNamePlaceholder
                    <button type="button" class="exercise-option4"> <span class="material-icons">add_task</span></button></a>
                </li>
                <li>
                    ExerciseNamePlaceholder
                    <a href="#">
                        <button type="button" class="exercise-option5"> <span class="material-icons">add_task</span></button></a>
                </li>
            
            </ol>
    </div>

</article>
</section>

<br>

<section class="exercise-container">
    <div class="heading-texts">
        <h2>Crossfit description and stuff</h2>

        <article class="exercise-section">
            <div class="title">
                <label for="section-title">Choose from crossfit exercises below</label>
            </div>
        </div>
        
            <div class="exercise-display-box"></div>
                <div class="exercise-choice-container">
                    <ol class="exercise-choices">
        
                        <li>
                            
                            ExerciseNamePlaceholder                   
                            <a href="#">
                                <button type="button" class="exercise-option1"><span class="material-icons md-38">add_task</span></button></a>                   
                        </li>
                        <li>
                            ExerciseNamePlaceholder                
                            <a href="#">
                                <button type="button" class="exercise-option2"> <span class="material-icons">add_task</span></button></a>
                        </li>
                        <li>
                            ExerciseNamePlaceholder                   
                            <a href="#">
                                <button type="button" class="exercise-option3"> <span class="material-icons">add_task</span></button></a>
                        </li>
                        <li>
                            ExerciseNamePlaceholder
                            <button type="button" class="exercise-option4"> <span class="material-icons">add_task</span></button></a>
                        </li>
                        <li>
                            ExerciseNamePlaceholder
                            <a href="#">
                                <button type="button" class="exercise-option5"> <span class="material-icons">add_task</span></button></a>
                        </li>
                    
                    </ol>
            </div>
        </article>
</section>


</body>
</html>