<section>
    <div class="hamburger-container">
        <div class="top-section">
            <div class="top-nav">
                <button class="hamburger">
                    <a href="#">
                        <span class="material-icons md-38 mab__icon">menu</menu></span>
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>


<section class="side-nav-container">

    <div class="sidebar">

        <div class="profile">
            <a href="#">
                <img class="profile-pic"
                    src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png"></a>
            <h1>Username</h1>
            <a href="/user-profile"></a>
        </div>

        <nav class="sidebar-nav">
            <a href="#" class="nav-title"></a>

            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Number of Exercises</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Finish Up</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Dashboard</a>
                </li>
            </ul>


    </div>
    </nav>
</section>

<br>

<section class="exercise-container">
    <div class="heading-texts">
        <h2>Calisthenics description and stuff</h2>

        <div class="wrapper-exercise">
            <article class="exercise-section">
                <div class="title">
                    <label for="section-title">Choose from calisthenics exercises below</label>
                </div>
        </div>

        <div class="exercise-display-box"></div>
        <div class="exercise-choice-container">
            <ol class="exercise-choices">

                <li>

                    ExerciseNamePlaceholder
                    <a href="#">
                        <div class="dropdown">
                            <button class="exercise-option1"><span class="material-icons">add-task</span></button>
                            <div class="btn-options">
                                <a href="#">Add Exercise</a>
                                <a href="#">Remove Exercise</a>
                                <a href="#">Bookmark Exercise</a>
                            </div>
                        </div>
                </li>
                <li>

                    ExerciseNamePlaceholder
                    <a href="#">
                        <div class="dropdown">
                            <button class="exercise-option2"><span class="material-icons">add-task</span></button>
                            <div class="btn-options">
                                <a href="#">Add Exercise</a>
                                <a href="#">Remove Exercise</a>
                                <a href="#">Bookmark Exercise</a>
                            </div>
                        </div>
                </li>
                <li>

                    ExerciseNamePlaceholder
                    <a href="#">
                        <div class="dropdown">
                            <button class="exercise-option3"><span class="material-icons">add-task</span></button>
                            <div class="btn-options">
                                <a href="#">Add Exercise</a>
                                <a href="#">Remove Exercise</a>
                                <a href="#">Bookmark Exercise</a>
                            </div>
                        </div>
                </li>
                <li>

                    ExerciseNamePlaceholder
                    <a href="#">
                        <div class="dropdown">
                            <button class="exercise-option4"><span class="material-icons">add-task</span></button>
                            <div class="btn-options">
                                <a href="#">Add Exercise</a>
                                <a href="#">Remove Exercise</a>
                                <a href="#">Bookmark Exercise</a>
                            </div>
                        </div>
                </li>
                <li>

                    ExerciseNamePlaceholder
                    <a href="#">
                        <div class="dropdown">
                            <button class="exercise-option5"><span class="material-icons">add-task</span></button>
                            <div class="btn-options">
                                <a href="#">Add Exercise</a>
                                <a href="#">Remove Exercise</a>
                                <a href="#">Bookmark Exercise</a>
                            </div>
                        </div>
                </li>

            </ol>
        </div>
        </article>
</section>


<br>

<section class="exercise-container">
    <div class="heading-texts">
        <h2>Plyometrics description and stuff</h2>

        <div class="wrapper-exercise">
            <article class="exercise-section">
                <div class="title">
                    <label for="section-title">Choose from plyometrics exercises below</label>
                </div>
        </div>

        <div class="exercise-display-box"></div>
        <div class="exercise-choice-container">
            <ol class="exercise-choices">

                <li>

                    ExerciseNamePlaceholder
                    <a href="#">
                        <div class="dropdown">
                            <button class="exercise-option6"><span class="material-icons">add-task</span></button>
                            <div class="btn-options">
                                <a href="#">Add Exercise</a>
                                <a href="#">Remove Exercise</a>
                                <a href="#">Bookmark Exercise</a>
                            </div>
                        </div>
                </li>
                <li>

                    ExerciseNamePlaceholder
                    <a href="#">
                        <div class="dropdown">
                            <button class="exercise-option7"><span class="material-icons">add-task</span></button>
                            <div class="btn-options">
                                <a href="#">Add Exercise</a>
                                <a href="#">Remove Exercise</a>
                                <a href="#">Bookmark Exercise</a>
                            </div>
                        </div>
                </li>
                <li>

                    ExerciseNamePlaceholder
                    <a href="#">
                        <div class="dropdown">
                            <button class="exercise-option8"><span class="material-icons">add-task</span></button>
                            <div class="btn-options">
                                <a href="#">Add Exercise</a>
                                <a href="#">Remove Exercise</a>
                                <a href="#">Bookmark Exercise</a>
                            </div>
                        </div>
                </li>
                <li>

                    ExerciseNamePlaceholder
                    <a href="#">
                        <div class="dropdown">
                            <button class="exercise-option9"><span class="material-icons">add-task</span></button>
                            <div class="btn-options">
                                <a href="#">Add Exercise</a>
                                <a href="#">Remove Exercise</a>
                                <a href="#">Bookmark Exercise</a>
                            </div>
                        </div>
                </li>
                <li>

                    ExerciseNamePlaceholder
                    <a href="#">
                        <div class="dropdown">
                            <button class="exercise-option10"><span class="material-icons">add-task</span></button>
                            <div class="btn-options">
                                <a href="#">Add Exercise</a>
                                <a href="#">Remove Exercise</a>
                                <a href="#">Bookmark Exercise</a>
                            </div>
                        </div>
                </li>

            </ol>
        </div>
        </article>
</section>

<section class="exercise-container">
    <div class="heading-texts">
        <h2>Isometrics description and stuff</h2>

        <div class="wrapper-exercise">
            <article class="exercise-section">
                <div class="title">
                    <label for="section-title">Choose from isometrics exercises below</label>
                </div>
        </div>

        <div class="exercise-display-box"></div>
        <div class="exercise-choice-container">
            <ol class="exercise-choices">

                <li>

                    ExerciseNamePlaceholder
                    <a href="#">
                        <div class="dropdown">
                            <button class="exercise-option11"><span class="material-icons">add-task</span></button>
                            <div class="btn-options">
                                <a href="#">Add Exercise</a>
                                <a href="#">Remove Exercise</a>
                                <a href="#">Bookmark Exercise</a>
                            </div>
                        </div>
                </li>
                <li>

                    ExerciseNamePlaceholder
                    <a href="#">
                        <div class="dropdown">
                            <button class="exercise-option12"><span class="material-icons">add-task</span></button>
                            <div class="btn-options">
                                <a href="#">Add Exercise</a>
                                <a href="#">Remove Exercise</a>
                                <a href="#">Bookmark Exercise</a>
                            </div>
                        </div>
                </li>
                <li>

                    ExerciseNamePlaceholder
                    <a href="#">
                        <div class="dropdown">
                            <button class="exercise-option13"><span class="material-icons">add-task</span></button>
                            <div class="btn-options">
                                <a href="#">Add Exercise</a>
                                <a href="#">Remove Exercise</a>
                                <a href="#">Bookmark Exercise</a>
                            </div>
                        </div>
                </li>
                <li>

                    ExerciseNamePlaceholder
                    <a href="#">
                        <div class="dropdown">
                            <button class="exercise-option14"><span class="material-icons">add-task</span></button>
                            <div class="btn-options">
                                <a href="#">Add Exercise</a>
                                <a href="#">Remove Exercise</a>
                                <a href="#">Bookmark Exercise</a>
                            </div>
                        </div>
                </li>
                <li>

                    ExerciseNamePlaceholder
                    <a href="#">
                        <div class="dropdown">
                            <button class="exercise-option15"><span class="material-icons">add-task</span></button>
                            <div class="btn-options">
                                <a href="#">Add Exercise</a>
                                <a href="#">Remove Exercise</a>
                                <a href="#">Bookmark Exercise</a>
                            </div>
                        </div>
                </li>

            </ol>
        </div>
        </article>
</section>

{{!-- <div class="allCalisthenics">
    {{#each calisthenics as |calisthenics|}}
    <section class="choicesDiv">
        <h1 class="choicesH1">{{calisthenics.exercise_name}}</h1>
        <div class="choicesinfo">
            <h2 class="choicesDesc">{{calisthenics.description}}</h2>
            <button id={{calisthenics.id}} type="button" class="exercise-option1"><span id={{calisthenics.id}}
                    class="material-icons md-38">add_task</span></button>
        </div>
    </section>
    {{/each}}
</div> --}}

<script src="/javascript/calisthenics.js"></script>