{{! div holding total time for workout that begins counting when start workout button is clicked }}
<div class="workoutTimer">
  <h1 class="time"></h1>
</div>

<div class="modal">
  <div class="finishWorkoutDiv">
    <span class="close">&times;</span>
    <h1 class="finishWorkoutH1"></h1>
  </div>
</div>

<div class="click">
  <h2 class="miscText">Click to edit!</h2>
</div>

{{#each calisthenics as |workout|}}
<section class="workoutList">
  <h1 class="workoutTitle">{{workout.exercise_name}}</h1>
  <div class="info">
    <h2 class="sets">{{workout.sets}}</h2>
    <h2 class="reps">{{workout.reps}}</h2>
    <h2 class="weight">{{workout.weight}}</h2>
    {{!-- <img class="trash" src="/images/2891491.png"> --}}
  </div>
</section>
{{/each}}

<div class="finishWorkout">
  <button class="finishBtn">Finish Workout</button>
</div>

<script src="/javascript/full-workout-list.js"></script>
<script src="/javascript/chosen-exercise.js"></script>