 <div class="homepage">
 <section class="hero">
        <div class="hero-cta">
          <h2>Hero Section</h2>
          <p>
            EXPLAIN DETAILS AND INFORMATION ABOUT THE APP.
            <br></br>
            seitan heirloom post-ironic pop-up iPhone mlkshk hella selfies fashion axe occupy readymade put a bird on it
            messenger bag Wes Anderson Schlitz plaid Bushwick church-key lo-fi skateboard slow-carb hashtag trust fund
            Williamsburg biodiesel fixie farm-to-table 8-bit banjo XOXO Banksy chillwave bicycle rights retro cliche
            tattooed bespoke irony mumblecore Shoreditch deep v polaroid McSweeney's bitters cray gentrify tofu Marfa you
            probably haven't heard of them yr banh mi asymmetrical art party selvage letterpress High Life.
          </p>
        </div>

<!-- Hero Section END -->

<!-- Preview different workouts section START -->

<section id="preview-workouts">
    <div class="flex-row">
      <h2 class="section-title primary-border">
        Choose from a selection of different workouts to match your goals for the day! Or switch it up and try something new!
      </h2>
    </div>

    <div class="workouts">
      <article class="workout">
        <img src="/images/Calisthenics figure2.jpg" alt="Placeholder text for calisthenics" />
        <div class="workout-preview">
          <h3 class="workout-name">Calisthenics</h3>
          <h4 class="workout-description">Goal / Description for calisthenics</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi neque animi quo cupiditate commodi saepe culpa sed itaque velit maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit amet quis repellat!</p>
        </div>
      </article>

      <article class="workout">
        <img src="/images/Weight Training figure2.jpg" alt="Placeholder text for weight training" />
        <div class="workout-preview">
          <h3 class="workout-name">Weight Training</h3>
          <h4 class="workout-description">Goal / Description for weight training</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi neque animi quo cupiditate commodi saepe culpa sed itaque velit maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit amet quis repellat!</p>
          </div>
        </article>

      <article class="workout">
        <img src="/images/Superhero Figure2.jpg" alt="Placeholder text for superhero" />
        <div class="workout-preview">
          <h3 class="workout-name">Superhero</h3>
          <h4 class="workout-description">Goal / Description for superhero workout</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi neque animi quo cupiditate commodi saepe culpa sed itaque velit maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit amet quis repellat!</p>
        </div>
      </article>
    </div>
  </section>

<!-- Preview different workouts section END -->

<!-- Sign Up section START -->

<section id="sign-up" class="sign-up">
    <div class="flex-row">
      <h2 class="section-title secondary-border">
        Sign up today!
      </h2>
      <p>Placeholder Text for sign up section</p>
    </div>

    <div class="sign-up image">
      <div>
        <h3>PUTSIGNUP IMAGE HERE</h3> 
          <br/>
          Let us know and we'll be happy to talk to you!
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        </div>
</div>