<form class="login-form">
  <div class="types">
    <label for="email-login">email:</label>
    <input placeholder="email" type="text" id="email-login" />
  </div>
  <div class="types">
    <label for="password-login">password:</label>
    <input placeholder="password" type="password" id="password-login" />
  </div>
  <div class="types">
    <button class="login-signupBTN" type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div class="types">
    <label for="username-signup">username:</label>
    <input placeholder="username" type="text" id="username-signup" />
  </div>
  <div class="types">
    <label for="email-signup">email:</label>
    <input placeholder="email" type="text" id="email-signup" />
  </div>
  <div class="types">
    <label for="password-signup">password:</label>
    <input placeholder="password" type="password" id="password-signup" />
  </div>
  <div class="types">
    <button class="login-signupBTN" type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>