<div class="hamburger-container">
        <div class="top-section">
            <div class="top-nav">
                <button class="hamburger">
                    <a href="#">
                        <span class="material-icons md-38 mab__icon">menu</menu></span>
                    </a>
                    <!-- <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div> -->
                </button>
            </div>
        </div>
    </div>
        <!-- <header> -->
          <!-- <section class="top-nav-container"> -->
       
         <!-- </section> -->

        <!-- </header> -->

        <!-- <nav class="mobile-navigation">
            <a href="#">Home</a>
            <a href="#">show # of exercise</a>
            <a href="#">Finish Up</a>
            <a href="#">Go to Dashboard</a>
        </nav> -->
        
     
        <section class="side-nav-container">
             
                 <div class="sidebar">

                    <div class="profile">
                            <a href="#">
                            <img class="profile-pic" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png"></a>
                                 <h1>Username</h1>
                            <a href="/user-profile"></a>
                    </div>
                    <nav>
                    <!-- <nav class="nav-bar">   -->
                        <!-- <a href="#" class="nav-branding">Activate</a> -->
                        <ul class="nav-menu">
                            <li class="nav-item">
                                <a href="#" class-="nav-link">Total Exercises</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class-="nav-link">Finish Up</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class-="nav-link">Dashboard</a>
                            </li>
                        </ul>
                        <!-- <button class="hamburger">
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </button> -->
                        <!-- <span> -->
                            <!-- <a href="#">
                                <button type="submit" class="login"> <span class="material-icons">login</span></button></a>
                           
                            <a href="#">
                                <button type="submit" class="sign_up"> <span class="material-icons">loyalty</span></button></a> -->
                  
                    
                                  
            </div>
        </nav>
    </section>
<br> 

<section class="exercise-container">
    <div class="heading-texts">
        <h2>Marvel description and stuff</h2>

<article class="exercise-section">
    <div class="title">
        <label for="section-title">Choose from Marvel exercises below</label>
    </div>
</div>

    <div class="exercise-display-box"></div>
        <div class="exercise-choice-container">
            <ol class="exercise-choices">

                <li>

                    Spiderman                   
                    <!-- <a href="#"> -->
                      
                        <div class="mab" data-value="1">
                        <button type="button" class="mab__button mab__button--primary">
                        <span class="material-icons md-38 mab__icon">add_task</span>
                        <span class="mab__text">Add Exercise</span>
                        </button>

                        <button id="mab__button mab__button--primary" class="exercise-option1">
                            <span class="material-icons mab__icon">expand_more</span>
                        </button>

                        <div class="mab__list" id="list1">
                            <button type="button" class="mab__button mab__button--secondary">
                                <span class="mab__text">Bookmark Exercise</span>
                            </button>

                            <button type="button" id="mab__button mab__button--primary" class="exercise-option1">
                                <span class="mab__text">Remove Exercise</span>
                            </button>

                        </div> 
                    </div>               
                </li>
                
                <li>
                    Deadpool               
                    <a href="#">
                        <button type="button" class="exercise-option2"> <span class="material-icons">add-task</span></button></a>
                </li>
                <li>
                    Black Widow                   
                    <a href="#">
                        <button type="button" class="exercise-option3"> <span class="material-icons">add_task</span></button></a>
                </li>
                <li>
                    Scarlet Witch
                    <button type="button" class="exercise-option4"> <span class="material-icons">add_task</span></button></a>
                </li>
                <li>
                    ExerciseNamePlaceholder
                    <a href="#">
                        <button type="button" class="exercise-option5"> <span class="material-icons">add_task</span></button></a>
                </li>
            
            </ol>
    </div>

</article>
</section>
<br>

<section class="exercise-container">
    <div class="heading-texts">
        <h2>DC description and stuff</h2>

<article class="exercise-section">
    <div class="title">
        <label for="section-title">Choose from DC exercises below</label>
    </div>
</div>

    <div class="exercise-display-box"></div>
        <div class="exercise-choice-container">
            <ol class="exercise-choices">

                <li>
                    
                    Superman                   
                    <a href="#">
                        <button type="button" class="exercise-option6"><span class="material-icons md-38">add_task</span></button></a>                   
                </li>
                <li>
                    Catwoman                
                    <a href="#">
                        <button type="button" class="exercise-option7"> <span class="material-icons">add_task</span></button></a>
                </li>
                <li>
                    Harley Quinn                   
                    <a href="#">
                        <button type="button" class="exercise-option8"> <span class="material-icons">add_task</span></button></a>
                </li>
                <li>
                    Batman
                    <button type="button" class="exercise-option9"> <span class="material-icons">add_task</span></button></a>
                </li>
                <li>
                    AquaMan
                    <a href="#">
                        <button type="button" class="exercise-option10"> <span class="material-icons">add_task</span></button></a>
                </li>
            
            </ol>
    </div>

</article>
</section>

<br>

<section class="container">

    <div class="sidebar">



        <div class="profile">
            <a href="#">
                <img class="profile-pic"
                    src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png"></a>
            <h1>Username</h1>
            <a href="/user-profile"></a>
        </div>

        <nav class="sidebar-nav">
            <a href="#" class="nav-title"></a>

            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Number of Exercises</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Finish Up</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Dashboard</a>
                </li>
            </ul>
            {{!-- <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div> --}}
</section>
<!-- <ul>              
                        <li>
                            <a href="#">
                                <span class="material-icons">numbers</span>
                                <a href="/user-dashboard">Number of Exercises</a>       
                          
                        </li>
                        <li>
                            <a href="#">
                                <span class="material-icons">task_alt</span>
                                <a href="/user-dashboard">Finish Up</a>       
                          
                        </li>
                          <li>
                            <a href="#">
                                <span class="material-icons">person_pin_circle</span>
                               <a href="/user-dashboard">Go to Dashboard</a>  
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="material-icons">tips_and_updates</span>
                               <a href="/safety">Tips for Safety</a>  
                            </a>
                        </li>
        
                    </ul> -->
</nav>

<br>

<script src="/javascript/weighttraining.js"></script>
<script src="/javascript/multiactionbutton.js"></script>