.infoDiv {
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    padding: 1%;
    display: flex;
}

.title {
    color: white;
}

.info {
    color: white;
    font-size: 100%;
    padding: 0%;
    background: none;
    border: none;
}

.backArrow {
    width: 7%;
    cursor: pointer;
    filter: invert(1);
}