:root {
    --primary-color: #171717;
    --secondary-color: #0769b9;
    --tertiary-color: #FFFFFF;
}

/* :root {
    --primary-color: #0c0e0c;
    --secondary-color: #d8323c;
    --tertiary-color: #eaebea;
} */

/* :root {
    --primary-color: #ff1700;
    --secondary-color: #ffa600;
    --tertiary-color: #4d6910;
} */

/* :root {
    --primary-color: #a0fefb;
    --secondary-color: #494fc1;
    --tertiary-color: #fd084a;
} */

/* :root {
    --primary-color: #e8c599;
    --secondary-color: #bc6022;
    --tertiary-color: #b72818;
} */

/* :root {
    --primary-color: #fde4e3;
    --secondary-color: #f282b4;
    --tertiary-color: #ef415e;
} */

/* :root {
    --primary-color: #e8c599;
    --secondary-color: #bc6022;
    --tertiary-color: #b72818;
} */

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
}

body.active .sidebar {
    left: -50em;
}

body .section {
    margin-left: 0;
    width: 100%;
}


header {
    position: sticky;
    height: 5rem;
    /* margin-left: 225px; */
    transition: all 0.5s ease;
    min-width: 100vw;
    margin: auto;

}

header a {
    font-size: 28px;
    color: #f4fbff;
}

header a:hover {
    color: #a2ecff;
}

header nav a {
    color: #a7dcf5;
}

.homepage .wrapper header {
    padding: 0.5vw 4vw 0.5vw 4vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    align-items: center;
    border-style: solid;
    border-color: var(--secondary-color);
    background-color: var(--primary-color);
    position: fixed;
}

.profile {
    display: grid;
    height: 14rem;
    align-items: center;
    max-width: 15rem;
}

.profile h1 {
    font-size: min(21px, 3.5rem, 3.6rem);
    color: #ffffff;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 10px 0 5px;
    top: -8rem;
}

.profile-pic {
    justify-content: center;
    display: flex;
    margin: 1em;
    border-radius: 50%;
    max-width: 8rem;
    min-width: 3rem;
    align-self: center;
    top: -18vh;
    left: 0vw;
    margin: auto;
}

.sidebar-nav {
    position: relative;
   background-color: --secondary-color #0769b9;
    min-height: 100%;
    top: -9vh;
    left: 0vw;
}

.sidebar ul {
    min-height: 33vh;
    color: #a2ecff;
    min-width: 14rem;
    max-width: 30vw;
}

.sidebar .profile h1 {
    color: #ffffff;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 10px 0 5px;
    top: -8rem;

}

.sidebar ul li {
    color: rgb(157, 212, 244);
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    top: -31vh;
    margin: auto;
    left: 2vw;
}

.sidebar .profile p {
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.sidebar .profile h1 {
    color: #ffffff;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 10px 0 5px;
    top: -8rem;

}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: rgb(206, 240, 253);
    font-family: sans-serif;

    border-right: 2px solid rgb(157, 212, 244);
}

.sidebar ul li a:hover .icon,
.sidebar ul li a.active .icon {
    color: #a7dcf5;
    margin: 0;
    padding: 0;
}

.sidebar ul li a:hover:before,
.sidebar ul li a.active:before {
    display: block;
    margin: 0;
    padding: 0;
}

.hide-sidebar a {
    font-size: 3rem;
    color: #a7dcf5
}

.nav-menu {
    position: relative;
    justify-content: center;
    align-items: top;
    grid-template-rows: 6rem 5rem 5rem 3rem;
    background: rgb(7, 105, 185);
    max-height: 5rem;
    
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    top: 19vh;
    display: grid;
}
    

.nav-title {
    font-size: 1.6rem;
}

.nav-link {
    font-size: min(21px, 30px, 35px);
    color: white;
}

.nav-link:hover {
    color: #a7dcf5;
    max-width: 19rem;
}

.nav-item {
    display: flex;
    color: rgb(157, 212, 244);
    justify-content: space-around;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    top: -31vh;
    margin: auto;
    left: 2vw;
}

.hamburger {
    position: fixed;
    left: 17vw;
    top: 0.2vw;
}

.hamburger button {
        position: fixed;
        left: 21vw;
        top: 8vh;   
}

.mobile-navigation {
    left: 100%;
    background-color: darkblue;
    padding-top: 115px;
    position: fixed;
    display: block;
    min-width: 14rem;
    max-width: 30vw;
    left: 0;
    top: 0;
    transition: 0.4s; 
    z-index: 98;
}

.mobile-navigation a {
    text-decoration: none;
    margin: 0 auto 15px;
    text-align: center;
    margin-bottom: 15px;
    display: block;
    padding: 13px 15px;
    background-color: rgb(27, 27, 187);
    max-width: 30vw;
    min-width: 14rem;
    width: 12rem;
    color: white;
}

.mobile-navigation a:hover {
    background-color: rgb(37, 37, 204);
}


.nav-bar {
          /* float: right; */
    width: 100%;
    background: rgb(7, 105, 185);
    max-height: 15rem;
    display: grid;
    align-items: stretch;
    padding: 0 30px;
    justify-content: space-evenly;
    align-content: end;
    position: relative;
    top: 4rem;
    grid-template-rows: 5rem 5rem 5rem;
    row-gap: 1rem;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a {
    color: #a7dcf5;
}

.nav-bar a:hover {
    color: #a2ecff;
}

.login {
    position: relative;
    font-family: sans-serif;
    left: 87vw;
    top: -1rem;
}

.login :hover {
    cursor: pointer;
    color: #a2ecff;
}


.sign_up {
    left: -6rem;
    position: relative;
    font-family: sans-serif;
}

.sign_up :hover {
    cursor: pointer;
    color:aquamarine
    
}

.top-nav-container {
    background: rgb(7, 105, 185);
    height: 6rem;
    display: grid;
    grid-template-rows: 20rem;
    float: left;
    width: 100%;
    position: fixed;
}

*/ .side-nav-container {
    background: rgb(7, 105, 185);
    min-width: 14rem;
    max-width: 30vw;
    min-height: 100%;
    display: grid;
    grid-template-rows: 20rem;
    float: left;
    position: fixed;
    top: -1vh;
}


.sidebar * {
    flex-basis: 100%;
    font-size: min(21px, 30px, 35px);
    color: white;
}

.sidebar {
    align-items: center;
    background-blend-mode: center;
    flex-wrap: wrap;
    margin: auto;
    background: #0769b9;
    position: fixed;
    top: 3vh;
    left: 0;
    transition: all 0.5s ease;
    float: left;
    position: fixed;
    top: 0vh;
    display: grid;
    grid-template-rows: 29rem 0rem;
    min-width: 14rem;
    max-width: 30vw;
    width: clamp(4rem, 20vw, 21vw);
    min-height: 100%;
 } 

.sidebar ul  {
    min-height: 33vh;
    color: #a2ecff;
    min-width: 14rem;
    max-width: 30vw;
}

.sidebar ul li p:hover {
    color: aquamarine
}


header{
	height: 5rem;
    margin-left: 225px;
    transition: all 0.5s ease;
    min-width: 100vw;
    margin: auto;
    background: rgb(7, 105, 185);
}


.title {
    min-width: 25ch;
    padding-top: 1rem;
}

.title label {
    padding-top: 1rem;
    font-size: clamp(1.5rem, 2.8vw, 3rem);
    color: white;
} 

*/
/* deadpool comic not activated
https://www.barnesandnoble.com/blog/wp-content/uploads/2018/05/deadpool.jpg
deadpool ryan reynolds when hover
https://www.instagram.com/p/Biw9MfPlSVQ/?utm_source=ig_embed&ig_rid=c1e27081-0601-454c-ac85-b544065e3594 */



.material-icons {
    font: 3rem;
}

.wrapper-exercise {
    background-color: rgb(7, 105, 185);
    display: grid;
    width: 61rem;
    width: clamp(9rem, 62rem, 65rem);
    height: 29rem;
    position: relative;
    top: 26vh;
 
}



.exercise-container {
    width: clamp(9rem, 66rem, 65rem);
    display: grid;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    padding: 1em 1em;
    left: -1vw;
    top: -9vh;
    padding-top: 4rem;
    flex-grow: 1;
    font-size: 24px;
    font-weight: 700;
    padding-left: 5.5rem;
}

.exercise-display-box {
    display: grid;
    grid-template-columns: 10rem;
    grid-template-rows: 2rem;
    background-color: rgb(188, 186, 186);
    height: 19rem;
    margin: 1em;
    width: clamp(9rem, 21rem, 21rem);
    z-index: 99;
    position: relative;
    left: 2vw;
    top: -1vh;
}


.heading-texts {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    padding: 1em 3em;
    justify-content: center;
    display: grid;
    grid-template-rows: 5rem 3rem;
    align-items: center;
    row-gap: 1rem;
    text-align: center;
    color: white;
}

.favflex {
    display: flex;
    height: 10rem;
    justify-content: center;
    align-items: center;
}

.fav_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  
}



.exercise-choice-container {
    display: grid;
    grid-template-rows: 2rem;
} 
  


 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .btn-options {
    display: none;
    position: absolute;
    background-color: #176fc7;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    max-width: 116px;
    font-size: 1.2rem;
    max-height: 229px;
  }
  
  
  .btn-options a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
  }
  
 
  .btn-options a:hover {background-color: rgb(42, 163, 200);}
  
  
  .dropdown:hover .btn-options {display: block;}
  

  .dropdown:hover .drop-options {background-color: #6adfff;}

.exercise-choices {
    font-weight: 457;
    font-size: clamp(1.2rem, 2.3vw, 2rem);
    letter-spacing: 1px;
    padding: 0 1em;
    justify-content: left;
    align-items: center;
    grid-template-rows: repeat(5, 2.3rem);
    display: grid;
    width: 65vw;
    row-gap: 0.5em;
    position: relative;
    left: 20rem;
    top: -21.3rem;
}

.exercise-choices li {
    padding-left: 4rem;
    width: 41vw;
    color: white;
}

.exercise-section {
    font-size: xx-large;
}

.exercise-option1,
.exercise-option2,
.exercise-option3,
.exercise-option4,
.exercise-option5,
.exercise-option6,
.exercise-option7,
.exercise-option8,
.exercise-option9,
.exercise-option10,
.exercise-option11,
.exercise-option12, 
.exercise-option13,
.exercise-option14,
.exercise-option15 {
    float: right;
}

.exercise-option1,
.exercise-option2,
.exercise-option3,
.exercise-option4,
.exercise-option5,
.exercise-option6,
.exercise-option7,
.exercise-option8,
.exercise-option9,
.exercise-option10, 
.exercise-option11,
.exercise-option12,
.exercise-option13,
.exercise-option14,
.exercise-option15 :hover {
    float: right;
    cursor: pointer;
}