/* :root {
    --primary-color: #171717;
    --secondary-color: #0769b9;
    --tertiary-color: #FFFFFF;
} */

/* :root {
    --primary-color: #0c0e0c;
    --secondary-color: #d8323c;
    --tertiary-color: #eaebea;
} */

/* :root {
    --primary-color: #ff1700;
    --secondary-color: #ffa600;
    --tertiary-color: #4d6910;
} */

/* :root {
    --primary-color: #a0fefb;
    --secondary-color: #494fc1;
    --tertiary-color: #fd084a;
} */

/* :root {
    --primary-color: #e8c599;
    --secondary-color: #bc6022;
    --tertiary-color: #b72818;
} */

/* :root {
    --primary-color: #fde4e3;
    --secondary-color: #f282b4;
    --tertiary-color: #ef415e;
} */

/* :root {
    --primary-color: #e8c599;
    --secondary-color: #bc6022;
    --tertiary-color: #b72818;
} */

footer {
    padding: 0.5vw 4vw 0.5vw 4vw;
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    z-index: 9999;
    align-items: center;
    border: solid var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 1.2vw;
}

footer h5 {
    font-weight: 300;
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
}

body.active .sidebar {
    left: -50em;
}

body .section {
    margin-left: 0;
    width: 100%;
}



.hide-sidebar {
    display: flex;
    position: relative;
    left: 20rem;
    /* top: 1rem; */
    color: white;
    height: 4rem;
    width: 4rem;
    justify-content: center;
    align-self: center;
    top: 1rem;
}

.profile {
    display: grid;
    height: 14rem;
    align-items: center;
    max-width: 15rem;
}


.profile-pic {
    justify-content: center;
    display: flex;
    margin: 1em;
    /* display: block; */
    border-radius: 50%;
    max-width: 8rem;
    min-width: 3rem;
    align-self: center;
    /* position: relative; */
    top: -18vh;
    left: 0vw;
    margin: auto;
}

.sidebar ul {
    display: grid;
    justify-content: center;
    align-items: top;
    align-self: start;
    grid-template-rows: 5rem 5rem 5rem 5rem;
}

.sidebar .profile h1 {
    color: #ffffff;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 10px 0 5px;
    /* position: relative; */
    top: -8rem;

}

.sidebar ul li {
    color: rgb(157, 212, 244);
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    /* position: relative; */
    top: -31vh;
    margin: auto;
    left: 2vw;
}

.sidebar .profile p {
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.sidebar .profile h1 {
    color: #ffffff;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 10px 0 5px;
    /* position: relative; */
    top: -8rem;

}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: rgb(206, 240, 253);
    font-family: sans-serif;

    border-right: 2px solid rgb(157, 212, 244);
}

.sidebar ul li a:hover .icon,
.sidebar ul li a.active .icon {
    color: #a7dcf5;
    margin: 0;
    padding: 0;
}

.sidebar ul li a:hover:before,
.sidebar ul li a.active:before {
    display: block;
    margin: 0;
    padding: 0;
}

.hide-sidebar a {
    font-size: 3rem;
    color: #a7dcf5
}

/* header {
    position: sticky;
    height: 5rem;
    /* margin-left: 225px; 
    transition: all 0.5s ease;
     min-width: 100vw;
    margin: auto;

}*/

/* header a {
    font-size: 28px;
    color: #f4fbff;
} */

/* header a:hover {
    color: #a2ecff;
}

header nav a {
    color: #a7dcf5;
} */



/* .nav-bar {
    float: right;
    width: 100%;
    background: rgb(7, 105, 185);
    max-height: 5rem;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
} */


.nav-menu {
    position: relative;
    justify-content: center;
    align-items: top;
    /* align-self: start; */
    grid-template-rows: 6rem 5rem 5rem 3rem;
    /* float: right; */
    /* width: 30vw; */
    background: rgb(7, 105, 185);
    max-height: 5rem;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    top: 19vh;
}


.nav-title {
    font-size: 1.6rem;
}

.nav-link {
    transition: 0.6s ease;
}

.nav-link:hover {
    color: #a7dcf5;
    max-width: 19rem;
}

.nav-item {
    display: flex;
    color: rgb(157, 212, 244);
    justify-content: space-around;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    /* position: relative; */
    top: -31vh;
    margin: auto;
    left: 2vw;
    /* gap: 8rem; */
}

.hamburger {
    position: fixed;
    left: 17vw;
    top: 0.2vw;
}

/* .hamburger {
    display: block;
    width: 35px;
    cursor: pointer;
    height: 35px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
} */

/* .bar {
    height: 0.2rem;
    width: 2rem;
    display: block;
    margin: 0.5rem auto;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: #ff984c;
} */

/* .hamburger .bar, .hamburger:after, .hamburger:before {
    width: 30%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.3sec;
}

.hamburger.isactive:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.isactive:after {
    transform: rotate(45deg) translate(-9px, -8px);
} */

.mobile-navigation {
    left: 100%;
    background-color: darkblue;
    padding-top: 115px;
    position: fixed;
    display: block;
    min-width: 14rem;
    max-width: 30vw;
    left: 0;
    top: 0;
    transition: 0.4s;
    z-index: 98;
}

.mobile-navigation a {
    text-decoration: none;
    margin: 0 auto 15px;
    text-align: center;
    margin-bottom: 15px;
    display: block;
    padding: 13px 15px;
    background-color: rgb(27, 27, 187);
    max-width: 30vw;
    min-width: 14rem;
    width: 12rem;
    color: white;
}

.mobile-navigation a:hover {
    background-color: rgb(37, 37, 204);
}


.nav-bar {
    /* float: right; */
    width: 100%;
    background: rgb(7, 105, 185);
    max-height: 15rem;
    display: grid;
    align-items: stretch;
    padding: 0 30px;
    justify-content: space-evenly;
    align-content: end;
    position: relative;
    top: 4rem;
    grid-template-rows: 5rem 5rem 5rem;
    row-gap: 1rem;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a {
    color: #a7dcf5;
}

.nav-bar a:hover {
    color: #a2ecff;
}

.login {
    position: relative;
    font-family: sans-serif;
    /* background-color: rgb(7, 105, 185); */
    /* font-size: 1em; */
    /* border: 1px solid white; */
    left: 87vw;
    /* font-weight: 600; */
    top: -1rem;
}

.login :hover {
    cursor: pointer;
    color: #a2ecff;
}


.sign_up {
    left: -6rem;
    position: relative;
    font-family: sans-serif;
}

.sign_up :hover {
    cursor: pointer;
    color: aquamarine
}

/* @media(min-width: 768px) {
    .mobile-navigation {
        display: none;
    }

    .hamburger {
        display: none;
    }

}  */


.top-nav-container {
    background: rgb(7, 105, 185);
    height: 6rem;
    display: grid;
    grid-template-rows: 20rem;
    float: left;
    width: 100%;
    position: fixed;
}

*/ .side-nav-container {
    background: rgb(7, 105, 185);
    min-width: 14rem;
    max-width: 30vw;
    min-height: 100%;
    display: grid;
    grid-template-rows: 20rem;
    float: left;
    position: fixed;
    top: -1vh;
}


.sidebar * {
    flex-basis: 100%;
}

.sidebar {
    align-items: center;
    background-blend-mode: center;
    flex-wrap: wrap;
    margin: auto;
    background: #0769b9;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    float: left;
    position: fixed;
    top: 5rem;
    display: grid;
    grid-template-rows: 16rem 0rem;
    /* grid-template-columns: 20vw; */
    min-width: 14rem;
    max-width: 30vw;
    min-height: 100%;
}

.sidebar ul {
    color: #a2ecff;
    min-width: 14rem;
    max-width: 30vw;
}

.sidebar ul li p:hover {
    color: aquamarine
}

/* .sidebar .home {
    margin-bottom: 28px;
    text-align: center;
   } */

/* 
header{
	height: 5rem;
    margin-left: 225px;
    transition: all 0.5s ease;
    min-width: 100vw;
    margin: auto;
    background: rgb(7, 105, 185);
} */

/* 
@media only screen and (max-width: 992px) {

    container {
       flex-direction: column-reverse;        
   }

   .sidebar {
       height: 100vh;
   }

} */

.title {
    min-width: 25ch;
    padding-top: 1rem;
}

.title label {
    padding-top: 1rem;
    font-size: clamp(1.5rem, 2.8vw, 3rem);
}

*/
/* deadpool comic not activated
https://www.barnesandnoble.com/blog/wp-content/uploads/2018/05/deadpool.jpg
deadpool ryan reynolds when hover
https://www.instagram.com/p/Biw9MfPlSVQ/?utm_source=ig_embed&ig_rid=c1e27081-0601-454c-ac85-b544065e3594 */

/* .material-icons.md-18 { font-size: 3rem; } */

.material-icons {
    font: 3rem;
}

.exercise-container {
    display: grid;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1em 1em;
    float: right;
    flex-grow: 1;
    font-size: 24px;
    font-weight: 700;
    /* margin: auto; */
    width: min(75ch, 50%);
}

.exercise-display-box {
    display: grid;
    grid-template-columns: 10rem;
    grid-template-rows: 2rem;
    background-color: rgb(188, 186, 186);
    width: 20rem;
    height: 19rem;
    margin: 1em;
}

.heading-texts {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    padding: 1em 3em;
    justify-content: center;
    display: grid;
    grid-template-rows: 5rem 3rem;
    align-items: center;
    row-gap: 1rem;
    text-align: center;
}

.favflex {
    display: flex;
    height: 10rem;
    justify-content: center;
    align-items: center;
}

.fav_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* @keyframes favme-

.exercise-choice-container {
    display: grid;
    grid-template-rows: 2rem;
} */

.mab {
    position: relative;
    background: white;
    display: inline-flex;
}

.mab__button {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    color: rgb(20, 19, 19);
}

.mab__button:not(.mab__button--menu) .mab__icon {
    margin-right: 9px;
}

.mab__button--secondary {
    width: 100%;
    justify-content: flex-start;
}

.mab__text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mab__list {
    display: none;
    position: absolute;
    top: 115%;
    box-shadow: 0 0 3px black;
    right: 0;
    padding: 6px 0;
    background: white;
}

.mab__list--visible {
    display: block;
}

.exercise-choices {
    font-weight: 457;
    font-size: clamp(1.2rem, 2.3vw, 2rem);
    letter-spacing: 1px;
    padding: 0 1em;
    justify-content: left;
    align-items: center;
    /* grid-template-columns: 13rem 25rem; */
    grid-template-rows: repeat(5, 2.3rem);
    display: grid;
    width: 65vw;
    row-gap: 0.5em;
    position: relative;
    left: 22rem;
    top: -19.3rem;
}

.exercise-choices li {
    width: 41vw;
}

.exercise-section {
    font-size: xx-large;
}

.exercise-option1,
.exercise-option2,
.exercise-option3,
.exercise-option4,
.exercise-option5,
.exercise-option6,
.exercise-option7,
.exercise-option8,
.exercise-option9,
.exercise-option10,
.exercise-option11,
.exercise-option12, 
.exercise-option13,
.exercise-option14,
.exercise-option15 {
    float: right;
}

.exercise-option1,
.exercise-option2,
.exercise-option3,
.exercise-option4,
.exercise-option5,
.exercise-option6,
.exercise-option7,
.exercise-option8,
.exercise-option9,
.exercise-option10, 
.exercise-option11,
.exercise-option12,
.exercise-option13,
.exercise-option14,
.exercise-option15 :hover {
    float: right;
    cursor: pointer;
}


/* harley quinn margot robbie when hover
https://1.bp.blogspot.com/-bOEBziCNZgo/WSA6c3ZJ6ZI/AAAAAAAAEVY/kPKMyOhaljgmf1c_gXLcaognSa59bLhZACEw/s1600/Margot%2BRobbie-Harley%2BQuinn-Suicide%2BSquad.jpg
harley quinn comic 
https://cdn11.bigcommerce.com/s-ydriczk/images/stencil/608x608/products/89096/93736/DC-Comics-Harley-Quinn-Classic-with-Gun-official-cardboard-cutout-buy-now-at-starstills__08796.1582849822.jpg?c=2 */