body {
    background-color: #171717;
}

.workoutTimer {
    display: flex;
    font-size: 50%;
    color: white;
}

.addExercise {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.addExercise:hover {
    background-color: black;
    cursor: pointer;
}

.addBtn:hover {
    background-color: black;
    cursor: pointer;
}

.addBtn {
    background-color: #171717;
    border: none;
    color: blue;
    margin: 3%;
    font-style: italic;
    text-align: center;
    font-size: 100%;
}

.plusBtn {
    display: flex;
    width: 1.5%;
    filter: invert(1);
}


.workoutList {
    border: 2px solid white;
    padding: 2%;
    margin-bottom: 3%;
}

.workoutList:hover {
    background-color: black;
    cursor: pointer;
}

.workoutTitle {
    display: block;
    width: 100%;
    color: white;
    font-size: 100%;
    margin-bottom: .5%;
}

.info {
    display: flex;
    width: 80%;
    color: #7e8087;
    justify-content: flex-start;
    font-size: 50%;
}

.reps {
    margin-left: 5%;
    margin-right: 5%;
}

.finishBtn {
    padding: 1%;
    font-size: 75%;
    position: fixed;
    bottom: 1%;
    right: 1%;
    border: 1px solid;
    border-radius: 10%;
}

.finishBtn:hover {
    cursor: pointer;
    background-color: lightgray;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color: rgb(49, 49, 49);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.finishWorkoutDiv {
    background-color: #a7a5a5;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* .finishWorkoutDiv {
    display: flex;
    justify-content: center;
    background-color: #4d5054;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 25%;
} */

@media screen and (max-width: 850px) {
    .plusBtn {
        width: 3%;
    }
}

@media screen and (max-width: 400px) {
    .plusBtn {
        width: 5%;
    }
}