/* :root {
    --primary-color: #171717;
    --secondary-color: #0769b9;
    --tertiary-color: #FFFFFF;
} */

/* :root {
    --primary-color: #0c0e0c;
    --secondary-color: #d8323c;
    --tertiary-color: #eaebea;
} */

/* :root {
    --primary-color: #ff1700;
    --secondary-color: #ffa600;
    --tertiary-color: #4d6910;
} */

/* :root {
    --primary-color: #a0fefb;
    --secondary-color: #494fc1;
    --tertiary-color: #fd084a;
} */

/* :root {
    --primary-color: #e8c599;
    --secondary-color: #bc6022;
    --tertiary-color: #b72818;
} */

/* :root {
    --primary-color: #fde4e3;
    --secondary-color: #f282b4;
    --tertiary-color: #ef415e;
} */

/* :root {
    --primary-color: #e8c599;
    --secondary-color: #bc6022;
    --tertiary-color: #b72818;
} */


body {
    background-color: var(--primary-color);
}

.workoutTimer {
    color: var(--tertiary-color);
    text-align: center;
    margin: 1%;
}

.click {
    display: flex;
}

.miscText {
    color: var(--tertiary-color);
    margin: 2%;
    margin-bottom: 0;
}

.workoutList {
    border: 2px solid var(--tertiary-color);
    padding: 2%;
    margin: 2%;
    margin-top: 1%;
}

.workoutList:hover {
    background-color: black;
    cursor: pointer;
}

.workoutTitle {
    display: block;
    width: 100%;
    color: var(--tertiary-color);
    font-size: 100%;
    margin-bottom: .5%;
}

.info {
    display: flex;
    width: 80%;
    color: #7e8087;
    justify-content: flex-start;
    font-size: 50%;
}

.reps {
    margin-left: 5%;
    margin-right: 5%;
}

.finishBtn {
    padding: 1%;
    font-size: 75%;
    position: fixed;
    bottom: 1%;
    right: 1%;
    border: 1px solid;
    border-radius: 10%;
}

.finishBtn:hover {
    cursor: pointer;
    background-color: lightgray;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color: rgb(49, 49, 49);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.finishWorkoutDiv {
    background-color: #a7a5a5;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

@media screen and (max-width: 850px) {
    .plusBtn {
        width: 3%;
    }
}

@media screen and (max-width: 400px) {
    .plusBtn {
        width: 5%;
    }
}