{{ mab}}
 <li>

                    ExerciseNamePlaceholder                   
                        <a href="#">
                        <div class="mab" data-value="1">
                        <button type="button" class="mab__button mab__button--primary">                
                        <span class="material-icons md-38 mab__icon">add_task</span></a>
                        <span class="mab__text">Add Exercise</span>
                        </button>

                        <button id="mab__button mab__button--primary" class="exercise-option1">
                            <span class="material-icons mab__icon">expand_more</span>
                        </button>

                        <div class="mab__list" id="list1">
                            <button type="button" class="mab__button mab__button--secondary">
                                <span class="mab__text">Bookmark Exercise</span>
                            </button>

                            <button type="button" id="mab__button mab__button--primary" class="exercise-option1">
                                <span class="mab__text">Remove Exercise</span>
                            </button>

                        </div> 
                    </div>               
                </li>